@import "null.css";

[class*="__container"]{
	max-width: 1200px;
	margin: 0 auto;
}
.wrapper {
   overflow: hidden;
   min-height: 100%;
   position: relative;
}
.section {
   padding: 25px;
}
.section__body {
   width: 200px;
   height: 200px;
   background-color: rgba(102, 102, 102, 0.8);
}
.section__item {
   width: 200px;
   height: 200px;
   background-color: #7a956b;
   color: #fff;
   text-align: center;
   transition: all 0.5s ease 0s;
}
.section__item--translate:hover {
   transform: translate(20px, 20px);
}
.section__item--scale:hover {
   transform: scale(1.5);
}
.section__item--rotate:hover {
   transform: rotate(50deg);
}
.section__item--skew:hover {
   transform: skew(-20deg, 0deg);
}
.section__body--matrix3d:hover .section__item--matrix3d {
   transform-origin: center top 0px;
   transform: matrix3d(1,0,0.00,0,0.00,0,1.00,0.008,0,-1,0,0,0,0,0,1);
}
.section__body--perspective:hover {
   perspective: 300px;
   perspective-origin: center;
}
.section__item--perspective:hover {
   transform: rotateX(50deg);
}
.section__item--rotate3d:hover {
   transform: rotate3d(2, 50, 50, 50deg);
}
.section__body--transform-style:hover {
   perspective: 300px;
   /* transform-style: flat; */
   transform-style: preserve-3d;
}
.section__itemt--ransform-style:hover {
   transform: rotateY(30deg);
}
.section--flip {
   display: inline-block;
}
.section__body--flip {
   transform-style: preserve-3d;
   transition: all 0.5s ease 0s;
}
.section__itemt--flip-front,
.section__itemt--flip-back {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}
.section__itemt--flip-front {
   z-index: 2;
   transform: rotateY(0deg);
   background-color: #77608d;
   backface-visibility: hidden;
}
.section__itemt--flip-back {
   transform: rotateY(-180deg);
   background-color: rgba(121, 79, 69, 0.5);
}
.section--flip:hover .section__body--flip {
   transform: rotateY(-180deg);
}

.elevator {
   position: relative;
   max-width: 600px;
   height: 407px;
}
.elevator__elevator {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 3;
}
.elevator__right-door,
.elevator__left-door {
   position: absolute;
   width: 110px;
   height: 315px;
   top: 51px;
   left: 191px;
   z-index: 2;
   transition: all 1s ease 0s;
}
.elevator__right-door {
   left: 301px;
}
.elevator__nomaco {
   position: absolute;
   width: 225px;
   height: 337px;
   top: 42px;
   left: 184px;
   z-index: 1;
}
.elevator:hover .elevator__left-door {
   transform: translate(-191px, 0px);
}
.elevator:hover .elevator__right-door {
   transform: translate(185px, 0px);
}
.elevator:hover .sun {
   z-index: 5;
}


.dog {
   position: relative;
   display: inline-block;
   width: 150px;
   height: 120px;
   left: 400px;
   top: 270px;
   z-index: 4;
}
.dog__dog {
   position: absolute;
   width: 100%;
   height: 100%;
}
.dog__flea {
   position: absolute;
   width: 5px;
   height: 7px;
   top: 55px;
   left: 90px;
   transition: all 1s ease 0s;
}
.dog:hover .dog__flea {
   transform: scale(15);
}
.sun {
   position: absolute;
   display: inline-block;
   width: 60px;
   height: 43px;
   top: 65px;
   left: 195px;
   z-index: 1;
   transition: all 1s ease 0s;
}
.sun:hover {
   transform: rotate(180deg);
}
